[Unit]
Description=Redis Service
Requires=skydns.service docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
Environment="HOME=/root"
Environment="CN=%p-%i"
Environment="SKYHOST=%p-%i"
Environment="REDIS_PORT=6379"
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker-conditional-pull quay.io/redsift/redisdb
ExecStartPre=-/usr/bin/docker kill $CN
ExecStartPre=-/usr/bin/docker rm $CN
ExecStart=/usr/bin/docker run --name $CN -p ${REDIS_PORT}:${REDIS_PORT} \
  -v /var/lib/storage/redis:/data \
  quay.io/redsift/redisdb
ExecStartPost=/usr/bin/update-skydns $CN ${env}/redis/${SKYHOST} ${REDIS_PORT} 60
ExecStopPost=/usr/bin/remove-skydns ${env}/redis/${SKYHOST}
Restart=always

[X-Fleet]
Conflicts=redis*.service
MachineMetadata="hostname=stg-lon02-2.stg.redsift.io" "host_type=metal" "environment=stg"